<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
<div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ddd; border-radius: 10px;">
    <h2 style="text-align: center; color: #333;">Thay đổi mật khẩu </h2>
    <p>Chào <strong th:text="${username}">User</strong>,</p>
    <p>Vui lòng nhấn vào nút dưới đây để hoàn tất việc đổi mật khẩu cho tài khoản của bạn:</p>
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary" href=`http://localhost:3000/resetPassword?id=${id}`>
            Click to reset password
        </a>
    </div>
    <p>Nếu bạn không yêu cầu đổi mật khẩu, vui lòng bỏ qua email này.</p>
    <p>Trân trọng,</p>
    <p>Đội ngũ <strong>MarketingService</strong></p>
</div>
</body>
</html>
